html{
  border: #333c3c solid 4px;
  padding: 7px;
}

body{
  background: url("../img/textures_dark_vertical.jpg") repeat;
  overflow: hidden;
  height: 312px;
}

#main-screen{
  margin: 0 auto;
  max-width: 500px;
  height: 190px;
}

.content{
  -webkit-app-region: no-drag;
}

#main-screen .content{
  width: 305px;
  height: auto;
  padding-top: 10px;
  padding-right: 30px;
  margin-left: 172px;
}

#main-screen .next-options{
  -webkit-app-region: no-drag;
  background: linear-gradient(#774247, red);
  color: white;
  width: 15px;
  height: 26px;
  border-radius: 10px;
  line-height: 27px;
  text-align: center;
  border: 1px solid transparent;
}

.next-options:hover{
  cursor: pointer;
  border: 1px solid white;
  background: linear-gradient(red, #774247);
}

.next-options:hover:after{
	animation: blink .6s alternate infinite;
}

.next-options#nextToMenu2{
  position: absolute;
  top: 140px;
  right: 10px;
}

.next-options#nextToMenu1{
  position: absolute;
  top: 140px;
}

.next-options#nextToMenu2::after{
  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.next-options#nextToMenu1::after{
  content: "\f053";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

@keyframes blink {
  from { 
    color: white;
  }
  to   { 
    color: transparent;
  }
}

@font-face{
  font-family: pokemonh;
  src: url("Pokemon Hollow.ttf");
}

#title{
  max-width:250px;
  height: auto;
  margin: 0 auto;}
  #title span{
    display: block;
    width:  250px;
    height: 50px;
    background-image: url("../img/title.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

#background_pkm{
  display: block;
  width: 160px;
  height: 100%;
  background-image: url(../img/litten.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: -1;
  top: 107px;
}

#close-icon{
  position: absolute;
  top: 7px;
  right: 7px;
  width: 13px;
  height: 13px;
  background-image: url("../img/close_red.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
  cursor:pointer;
}

#fishing span{
  background-image: url(../img/super_rod.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#revive span{
  background-image: url(../img/revive.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#screenCoords span{
  background-image: url(../img/tv.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-1{
  height: 150px;
}

.menu-2{
  height: 150px;
  display: none;
}

.menu-item{
  -webkit-app-region: no-drag;
  width: 200px;
  height: 50px;
  background: linear-gradient(#774247, red);
  border-radius: 10px;
  cursor: pointer;
  margin: 8px auto 8px auto;
  border: 1px solid transparent;
}

.menu-item-small{
  -webkit-app-region: no-drag;
  width: 145px;
  height: 40px;
  background: linear-gradient(#774247, red);
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  border: 1px solid transparent;
  float:left;
}

.menu-item-small:hover{
  border: 1px solid white;
  background: linear-gradient(red, #774247);
}

.menu-item:hover{
  border: 1px solid white;
  background: linear-gradient(red, #774247);
}

.icon-button span{
  display: block;
}

.menu-item-small > .icon-button{
  width: 38px;
  height: 38px;
  float:left;
  margin-top: 1px;
}

.menu-item > .icon-button{
  width: 45px;
  height: 45px;
  margin-top: 4px;
  margin-left: 10px;
  float: left;
}

.menu-item-small > .text{
  width: 130px;
  /*height: 50px;*/

  color: white;
  font-family: pokemonh;
  font-size: 15px;
  font-weight: bold;

  line-height:35px;
  text-align:center;
}

.menu-item > .text{
  width: 120px;
  height: 50px;
  float:left;

  color: white;
  font-family: pokemonh;
  font-size: 17px;
  font-weight: bold;

  line-height:50px;
  text-align:center;
}

#caveBot span{
  width: 64px;
  height: 41px;
  background-image: url(../img/red_champion.png);
  background-size: cover;
  transform: scale(0.8);
  margin-top: -2px;
}

.clear-float{
  clear:both;
}

.coord_field{
  width: 35px;
  height: 8px;
  box-shadow: -2px 2px 1px #e44d4d;
  padding: 3px;
  border: #443d3d solid thin;
  border-radius: 4px;
  cursor: pointer;
}

.coord_label{
  color: white;
  font-family: pokemonh;
  font-size: 12px;
  font-weight: bold;
  display: block;
  float: left;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.coord_element{
  width: 70px;
  height: 23px;
  line-height: 23px;
  float: left;
}

#coord_span{
  width: 140px;
  height: 50px;
/*
  line-height: 35px;
*/
  float: right;
}

#console-title{
  color: #f7e53f;
  font-family: monospace;
  border-bottom: 1px solid #774247;
  margin-top: 5px;
  margin-bottom: 5px;
}

#console{
  -webkit-app-region: no-drag;
  width: 95%;
  height: 70px;
  color: #f7e53f;
  padding: 2px;
  font-family: monospace;
  overflow-y: scroll;
}

/*
 * Challenge Screen
*/

#challenge-screen{
  -webkit-app-region: no-drag;
  display: none;
  width: 450px;
  height: 180px;
  color: white;
  padding: 5px;
}

/*
#pokeaddress{
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  height: 15px;
  font-size: 15px;
  color: red;
}
*/

#btUnown, #btIllusion{
  border-radius: 5px;
  width: 105px;
  height: 25px;
  font-weight: bold;
  cursor: pointer;
}

.unownel span{
  color: greenyellow;
  font-weight: bold;
  font-size: 17px;
  margin-left: 10px;
  text-transform: uppercase;
}

.unownel{
  padding: 5px 0px;
}

/*
 *
 * Hotkey Config section
 *
*/

#hk-screen > *{
  color: white;
}

#hk-screen{
  margin: 0 auto;
  max-width: 500px;
  height: 190px;
  display: none;
}

#hk-screen .content{
  padding: 20px;
}

.divHotkey > *{
  -webkit-app-region:no-drag;
}

.divHotkey{
  font-size: 20px;
  font-family: fantasy;
  height: 25px;
  line-height: 40px;
  vertical-align: middle;
  float: left;
  width: 440px;
}

.divHotkey button{
  width: 70px;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
  font-family: serif;
}

.divHotkey input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin: 0px;
  float: left;
}

.divHotkey label{
  display: block;
  float: left;
  margin-top: -10px;
  margin-left: 5px;
}

/*
 *
 * Cave bot section
 *
*/

#cave-screen > *{
  color: white;
}

#cave-screen{
  margin: 0 auto;
  max-width: 500px;
  /*height: 190px;*/
  display: none;
}

@font-face{
  font-family: pokemonh;
  src: url("Pokemon Hollow.ttf");
}

#container-route{
  position: relative;
  width: 40%;
  height: 100%;
  float:left;
}

#container-functions{
  float:left;
  width: 30%;
  height: 100%;
}

#container-loot{
  float:left;
  width: 30%;
  height: 100%;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  color: white;
}

select > *{
  color: black;}
select{
  font-family: Comic Sans MS;
  font-size: 15px;
  color: black;
  -webkit-app-region: no-drag;}
  #container-route select{
    width: 95%;
  }

.container-title{
  width: 95%;
  float:left;
  font-family: pokemonh;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
}

.profile-icons{
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0;
  width: 25%;
  height: 15px;
  padding-top: 16px;}
  .profile-icons .icon-el{
    border: 1px solid transparent;
    float: left;
    width: 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;}
    .profile-icons .icon-el:hover{
      font-weight: bold;
      border: 1px solid white;}

.btVoltar{
  -webkit-app-region: no-drag;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btVoltar:before{
  content: "\f060";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

@import "compass/css3";

ul {
  -webkit-app-region: no-drag;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 150px;
  width: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sel-el{
  width: 100%;
  padding: 2px;
  height: 20px; /*font: 200 16px/1.5 Helvetica, Verdana, sans-serif;*/
  display: list-item;
  font-family: 'Quicksand';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #ccc;
  cursor: default;
  line-height: 20px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.sel-el.selected{
  background: red;
}

.sel-el.running{
  background: linear-gradient(rgb(214, 147, 153), rgb(68, 224, 17));
}

.sel-el:hover {
  background: #d2cdcd;
  color: red;
  font-weight:bold;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
}

li:last-child {
  border: none;
}


.functions{
  -webkit-app-region: no-drag;
  float: left;
  height: 100%;
}

.functions .function-el{
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: left;
  border: 1px solid transparent;
}

.functions div:hover{
  border: 1px solid white;
}

.functions div:active{
  border: 1px solid red;
}

#checkpoint{
  background: url("../img/checkpoint.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#hand{
  background: url("../img/click.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#btHotkey{
  background: url("../img/keyboard.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#btRevive{
  background: url("../img/revive.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#move{
  background: url("../img/move.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#battle{
  background: url("../img/battle.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#sleep{
  background: url("../img/timer.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#btLogon{
  background: url("../img/logon.png") no-repeat;
  background-size: contain;
  background-position: center;
  transform: scale(0.85);
  /*
  width: 31px;
  margin-left: 4px;
  height: 35px;
  */
}

#btBackPkm{
  background: url("../img/pokeball_back.png") no-repeat;
  background-size: contain;
  background-position: center;
}

#btSummonPkm{
  background: url("../img/pokeball_summon.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.sel-text{
  width: 85%;
  float: left;
  font-size: 14px;
}

.remove-el{
  width: 7%;
  float: left;
  cursor: pointer;
}

.remove-el:before{
  content: "\f056";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.manage-options{
  -webkit-app-region: no-drag;
  width: 95%;
  height: 30px;
  padding-top: 5px;}
  .manage-options .el{
    width: 50px;
    height 20px;
    float: left;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
    margin-right: 5px;}
  .manage-options .el:hover{
    font-weight:bold;}

.lock-screen{
  -webkit-app-region: no-drag;
  background-color: black;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}

.prompt{
  -webkit-app-region: no-drag;
  background: linear-gradient(#774247, red);
  border-radius: 10px;
  position: absolute;
  top: 38%;
  left: 23%;
  background-color: white;
  z-index: 999;
  width: 50%;
  height: 68px;
  padding: 10px;}
  .prompt input{
    width: 180px;
    margin: 0 1% 0 3%;
    border-radius: 10px;
    float: left;
    padding: 5px;}
  .prompt .text{
    font-family: Comic Sans MS;
    color: white;
    margin: 2px 3%;
    font-size: 13px;
    padding: 5px;}
  .prompt input:focus{
    border: 2px solid #f7e53f;
    outline: 0;}
  .prompt .setKey{
    width: 85px;
    height: 30px;
    border-radius: 5px;
    font-family: serif;
    font-size: 15px;
    margin-left: 85px;
    margin-top: 20px;
  }

.prompt .btConfirm{
  -webkit-app-region: no-drag;
  width: 25px;
  height: 30px;
  float: left;
  font-family: pokemonh;
  color: white;
  padding: 5px;
  margin-top: -17px;
  cursor: pointer;}
  .prompt .btConfirm:hover{
    cursor: pointer;
    color: #f7e53f;
  }

#btStart{
  background: linear-gradient(#774247, red);
  width: 130px;
  height: 50px;
  float: left;
  -webkit-app-region: no-drag;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 5px;
}

#btStart:hover{
  border: 1px solid white;
}
#btStart span{
  width: 35px;
  height: 40px;
  background-image: url(../img/move.png);
  background-size: cover;
  display: block;
  float: left;
  margin: 2% 2%;
  margin-left: 10px;
}
#btStart .text{
  width: 75px;
  height: 50px;
  float: left;
  color: white;
  font-family: pokemonh;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  margin-top: -4px;
}

button.clickType,
.lock-el button{
  width: 100px;
  height: 25px;
  line-height: 13px;
  margin: 20px 1% 0 3%;
  border-radius: 10px;
  float: left;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}

button.clickType:hover,
.lock-el button:hover{
  background-color: #f7e53f;
  color: black;
}