<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main.css" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>123791283123b12h321vg3v23h2vb3</title>
  </head>
  <body style="-webkit-app-region: drag">

    <div id="close-icon" style="-webkit-app-region: no-drag"></div>


    <div id="hk-screen">
      <div class="content">

        <div class="menu-item-small" id="revive" style="margin-bottom: 20px;">
          <span class="icon-button"></span>
          <div class="text">Revive Pos</div>
        </div>

        <div class="divHotkey">
          <button id="hkRevive" class="setKey">Set Key</button>
          <input type="checkbox" id="chkboxRevive" name="feature" value="revive" />
          <label for="revive">Use Revive and Summon Pkm</label>
        </div>
    
        <div class="divHotkey">
          <button id="hkChangePkm" class="setKey">Set Key</button>
          <input type="checkbox" id="chkboxChangePkm" name="feature" value="changepkm" />
          <label for="horns">Change Pokemon from Second Slot</label>
        </div>
      </div>
    </div>

  </body>

  <script type="text/javascript">
    console.log(process.versions);

    const bl = require("../build/Release/battlelist");
    const focuscc = require("../build/Release/focus");
    const mouse = require("../build/Release/mouse");
    const fs = require('fs');
    const {remote, shell} = require('electron');

    var pos = {
      pkmSlot: { "x":1200, "y":182 },
      reviveSlot: { "x":1180, "y":182 }
    }

    /* Flags */
    lockFlag = 0;
    caveFlag = 0;
    fRevive = 0;

    /* Elements */
    divHkConfig = document.querySelector("#hkConfig");

    divHkScreen = document.querySelector("#hk-screen");
    divRevive = document.getElementById("revive");

    /* Buttons */
    hkRevive = document.querySelector("#hkRevive");
    hkChangePkm = document.querySelector("#hkChangePkm");
    btCloseIcon = document.querySelector("#close-icon");

    /* Checkbox */
    chkboxRevive = document.querySelector("#chkboxRevive");
    chkboxChangePkm = document.querySelector("#chkboxChangePkm");

    /* Functions */
    //default Pc Lukas
    bl.registerPkmSlot(pos.pkmSlot);

    /* Events */
    /*
    var body = document.querySelector('body');
    body.onkeydown = function (e){
      if ( !e.metaKey ) {
        e.preventDefault();
      }
      console.log(`0x${e.keyCode.toString(16).toUpperCase()} key was pressed.`);
    };
    */

    divRevive.addEventListener("click", function(){
      if(fRevive === 0){
        focuscc.focusWindow(function(res){
          fRevive=2; //cursorPosbyClick is waiting for a response

          //getting pkm slot pos
          mouse.getCursorPosbyClick(function(res){
            console.log(`PkmSlot) res.x: ${res.x} res.y: ${res.y}`);
            pos.pkmSlot.x = res.x;
            pos.pkmSlot.y = res.y;
            divRevive.style.background = 'linear-gradient(#774247, #f7e53f)';
            bl.registerPkmSlot(pos.pkmSlot);
            fRevive=1;
          });
        });
      }else if (fRevive === 1){
        divRevive.style.background = 'linear-gradient(red, #774247)';
        fRevive=0;
      }
    });

    var hkKeydown = (e) => {
      console.log(e.target);
      e.target.innerText = e.key; 
      e.target.dataset.keyCode = e.keyCode;
      e.target.removeEventListener("keydown", hkKeydown)
    }
    hkRevive.addEventListener("click", function(e){
      e.target.addEventListener("keydown", hkKeydown);
    });
    hkChangePkm.addEventListener("click", function(e){
      e.target.addEventListener("keydown", hkKeydown);
    });

    chkboxChangePkm.addEventListener("click", function(e){
      if(hkChangePkm.dataset.keyCode == undefined){
        alert("Configure your hotkey first");
        e.preventDefault();
      }else if(e.target.checked){
        console.log("hkChangePkm Pronto pra usar!");
        bl.registerHkSwapPkm(hkChangePkm.dataset.keyCode);
      }else{
        //unregister swap hotkey
        //bl.unregisterHk(2);
      }
    });

    chkboxRevive.addEventListener("click", function(e){
      if(hkRevive.dataset.keyCode == undefined){
        alert("Configure your hotkey first");
        e.preventDefault();
      }else if(e.target.checked){
        console.log("hkRevive Pronto pra usar!");
        bl.registerHkRevivePkm(hkRevive.dataset.keyCode);
      }
    });

    btCloseIcon.addEventListener("click", function(e){
      remote.app.quit();
    });

  </script>
</html>
