<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/main.css" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>123791283123b12h321vg3v23h2vb3</title>
  </head>
  <body style="-webkit-app-region: drag">

    <div id="title">
      <span></span>
    </div>

    <div id="main-screen">
      <span id="background_pkm"></span>
      <div class="content">

        <div class="menu-item-small" id="fishing">
          <span class="icon-button"></span>
          <div class="text">Fishing</div>
        </div>

        <div class="menu-item-small" id="revive">
          <span class="icon-button"></span>
          <div class="text">Auto-Revive</div>
        </div>

        <div class="clear-float"></div>

        <div class="menu-item" id="screenCoords">
          <span class="icon-button"></span>
          <div id="coord_span">
            <div class="coord_element">
              <label for="coordx" class="coord_label">x</label>
              <input name="coordx" class="coord_field" disabled>
            </div>
            <div class="coord_element">
              <label for="coordy" class="coord_label">y</label>
              <input name="coordy" class="coord_field" disabled>
            </div>
            <div class="coord_element">
              <label for="coordw" class="coord_label">w</label>
              <input name="coordw" class="coord_field" disabled>
            </div>
            <div class="coord_element">
              <label for="coordh" class="coord_label">h</label>
              <input name="coordh" class="coord_field" disabled>
            </div>
          </div>
        </div>

        <div class="menu-item" id="caveBot">
          <span class="icon-button"></span>
          <div class="text">Cave-bot</div>
        </div>

        <div id="console-title">Console:<br></div>
        <div id="console"></div>

      </div> <!--end content-->
    </div> <!--end main-->

    <div id="cave-screen">
      <div id="container-route">
        <div class="container-title"> Profile</div>
        <div class="profile-icons">
          <div class="icon-el">+</div>
          <div class="icon-el">-</div>
        </div>
        <select name="profile" id="profile"></select>
        <ul class="list-commands"></ul>
        <div class="manage-options">
          <div id="new" class="el">New</div>
          <div id="save" class="el">Save</div>
        </div>
      </div>

      <div id="container-functions">
        <div class="container-title"> functions</div>
        <div class="features">
          <div id="checkpoint" class="feature-el"></div>
          <div id="click" class="feature-el"></div>
          <div id="keyboard" class="feature-el"></div>
          <div class="clear-float"></div>
          <div id="battle" class="feature-el"></div>
          <div id="sleep" class="feature-el"></div>
        </div>
        <div id="btStart">
          <span class="icon-button"></span>
          <div class="text">Start</div>
        </div>
      </div>

      <div id="container-loot"></div>

      <div id="footer">
        <div class="menu-icon" id="btVoltar"></div>
      </div>

    </div>
  </body>

  <script type="text/javascript" src="../bot.js"></script>
  <script type="text/javascript">
    console.log(process.versions);
    const fs = require('fs');

    /* Flags */

    lockFlag = 0;
    caveFlag = 0;

    /* Elements */

    divCaveBot = document.querySelector("#caveBot");
    divCaveIcon = document.querySelector("#caveBot span");

    divCaveScreen = document.querySelector("#cave-screen");
    divMainScreen = document.querySelector("#main-screen");

    listCommands = document.querySelector(".list-commands");
    selProfile = document.getElementById("profile");

    /* Buttons */
    btVoltar = document.querySelector("#btVoltar");
    btNew = document.getElementById("new");
    btSleep = document.getElementById("sleep");
    btStart = document.getElementById("btStart");

    /* Functions */
    var removeCommandEl = (e) => {
      let el = e.target.parentElement;
      el.parentElement.removeChild(el);
    }

    var addLockScreen = () => {
      lockFlag=1;
      let opacityDiv = document.createElement("div");
      opacityDiv.classList.add("lock-screen");
      document.body.appendChild(opacityDiv);
      opacityDiv.addEventListener("click", function(){
        removeLockScreen();
      });
    }

    var removeLockScreen = () => {
      let opacityDiv = document.querySelector(".lock-screen");
      document.body.removeChild(opacityDiv);
      let divPrompt = document.querySelector(".prompt");
      document.body.removeChild(divPrompt);
      lockFlag = 0;
    }

    var loadProfiles = (dirPath) => {
      fs.readdir( dirPath, function(err, files){
        if(err){
          console.error("Could not list the directory.", err);
          process.exit(1);
        }

        if(selProfile.children.length > 0){
          clearProfileList();
        }

        files.forEach( function( filename, index){
          filename = filename.split(".")[0];
          //console.log(`${filename}, ${index}`);
          let option = document.createElement("option");
          option.value = index;
          option.text = filename;
          selProfile.appendChild(option);
        });
        //load commands from the first selected
        let iSelected = selProfile.options.selectedIndex;
        let fileName = selProfile.options[iSelected].text;
        loadCommands(fileName);
      });
    }

    var clearProfileList = () => {
      let length = selProfile.children.length;
      for(var i=0; i<length; i++){
        selProfile.removeChild(selProfile.children[0]);
      }
    }

    var clearListCommands = () => {
      let listLength = listCommands.children.length;
      for(var i=0; i<listLength; i++){
        listCommands.removeChild(listCommands.children[0]);
      }
    }

    var loadCommands = (fileName) => {
      fs.readFile(`./configuration/profiles/${fileName}.json`, "utf-8", (err, data) => {
        if (err) throw err;
        let obj = JSON.parse(data);
        //clear list before loading commands
        clearListCommands();

        //add commands from the file to the list
        for(var i=0; i<obj.content.length; i++){
          let newCommand = document.createElement("li");
          newCommand.classList.add("sel-el");
          newCommand.dataset.cmdType = obj.content[i].cmdType;
          newCommand.addEventListener("click", removeCommandEl);
          switch(newCommand.dataset.cmdType){
            case 'check':
              newCommand.innerHTML = `<div class="sel-text">${obj.content[i].pos[0]},${obj.content[i].pos[1]},${obj.content[i].pos[2]}</div><div class="remove-el"></div>`;
              break;
            case 'sleep':
              newCommand.dataset.value = obj.content[i].value;
              newCommand.innerHTML = `<div class="sel-text">Sleep for ${obj.content[i].value/1000}s</div><div class="remove-el"></div>`;
              break;
          }
          listCommands.appendChild(newCommand);
        }
      });
    }

    var loadCommandsToObj = () => {
      let obj = {};
      let iSelected = selProfile.options.selectedIndex;
      let fileName = selProfile.options[iSelected].text;

      obj.fileName = fileName;
      obj.content = [];
      for(var i=0; i<listCommands.children.length; i++){
        obj.content[i] = {};
        obj.content[i].cmdType = listCommands.children[i].dataset.cmdType;
        switch(obj.content[i].cmdType){
          case 'check':
            obj.content[i].pos = listCommands.children[i].children[0].textContent.split(",");
            break;
          case 'sleep':
            obj.content[i].value = listCommands.children[i].dataset.value;
            break;
          default:
            console.log("default choosen");
            break;
        }
      }
      return obj;
    }

    /* Events */
    divCaveBot.addEventListener("mouseover", function(){
      divCaveIcon.style.backgroundImage = "url('../img/red_champion.gif')";
    });

    divCaveBot.addEventListener("mouseout", function(){
      divCaveIcon.style.backgroundImage = "url('../img/red_champion.png')";
    });

    divCaveBot.addEventListener("click", function(){
      divCaveScreen.style.display = "block";
      divMainScreen.style.display = "none";
      loadProfiles("./configuration/profiles");
    });

    btVoltar.addEventListener("click", function(){
      divCaveScreen.style.display = "none";
      divMainScreen.style.display = "block";
    });

    BtsRemoveEl = document.querySelectorAll(".remove-el");
    for (var i = 0; i < BtsRemoveEl.length; i++) {
      BtsRemoveEl[i].addEventListener("click", function(e){
        removeCommandEl(e);
      });
    }

    btNew.addEventListener("click", function(){
      if(!lockFlag){
        addLockScreen();
        let divPrompt = document.createElement("div");
        divPrompt.classList.add("prompt");
        divPrompt.classList.add("lock-el");
        divPrompt.innerHTML = `<div class="text">Type the name of the new PROFILE</div><input name="prompt" id="input-prompt"/><div class="btConfirm">Ok</div>`;
        document.body.appendChild(divPrompt);
        document.querySelector("#input-prompt").focus();

        let btConfirmPrompt = document.querySelector(".btConfirm");
        btConfirmPrompt.addEventListener("click", function(){
          let input = document.querySelector(".prompt input");
          if(input.value){
            let option = document.createElement("option");
            option.value = input.value;
            option.text = input.value;
            selProfile.appendChild(option);
            selProfile.selectedIndex = selProfile.length-1;
            clearListCommands();
            removeLockScreen();
          }
        });
      }
    });

    selProfile.addEventListener("change", function(e){
      let iSelected = selProfile.options.selectedIndex;
      let fileName = selProfile.options[iSelected].text;
      loadCommands(fileName);
    });

    btSave = document.getElementById("save");
    btSave.addEventListener("click", function(){

      let obj = {};
      obj = loadCommandsToObj();
      //console.log(JSON.stringify(obj));
      fs.writeFile(`./configuration/profiles/${obj.fileName}.json`, JSON.stringify(obj), (err) => {
        if (err) throw err;
        console.log('The file has been saved!');
      });
    });

    btStartText = document.querySelector("#btStart .text");
    btStart.addEventListener("click", function(){
      if(!caveFlag){
        //start caveBot

        //change button style
        btStart.style.background = 'linear-gradient(#774247, #f7e53f)';
        btStartText.textContent = "Stop";
        caveFlag=1;

        //load file
        let obj = loadCommandsToObj();
        //console.log(JSON.stringify(obj));

        //focus window and run the cave with the loaded file
        focuscc.focusWindow(function(res){
          bl.runProfile(obj, function(res){
            console.log("Profile finished.\n");
          });
        });

      }else{
        //stop caveBot
        console.log("trying to stop profile");
        bl.stopProfileSync();
        console.log("command stopProfile executed.\n");
        btStart.style.background = 'linear-gradient(red, #774247)';
        btStartText.textContent = "Start";
        caveFlag=0;
      }
    });

    btSleep.addEventListener("click", function(){
      if(!lockFlag){
        addLockScreen();
        let divPrompt = document.createElement("div");
        divPrompt.classList.add("prompt");
        divPrompt.classList.add("lock-el");
        divPrompt.innerHTML = `
          <div class="text">Wait for how much seconds?</div>
          <input name="prompt" type="number"/>
          <div class="btConfirm">Ok</div>
        `;
        document.body.appendChild(divPrompt);
        document.querySelector(".prompt input").focus();

        let btConfirmPrompt = document.querySelector(".btConfirm");
        btConfirmPrompt.addEventListener("click", function(){
          let input = document.querySelector(".prompt input");
          if(input.value){
            input.value*=1000;
            //console.log(`value in miliseconds: ${input.value}`);

            let newCommand = document.createElement("li");
            newCommand.classList.add("sel-el");
            newCommand.dataset.cmdType = "sleep";
            newCommand.dataset.value = input.value;
            newCommand.addEventListener("click", removeCommandEl);
            newCommand.innerHTML = `<div class="sel-text">Sleep for ${input.value/1000}s</div><div class="remove-el"></div>`;
            listCommands.appendChild(newCommand);
            removeLockScreen();
          }
        });
      }
    });

  </script>
</html>
