<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/login.css" >
    <title>123791283123b12h321vg3v23h2vb3</title>
  </head>
  <body style="-webkit-app-region: drag">
  <div id="container">
    <div id="container-left">
      <img id="background_pkm">
    </div>
    <div id="container-right">
      <div id="title">Bobito's App</div>
      <div id="logindiv" style="-webkit-app-region: no-drag">
        <div id="login_username" class="loginEl">
          <label for="username" class="pkmtext">Username:</label>
          <input name="username" class="pkmtext" style="font-size:13px;">
        </div>
        <div id="login_pass" class="loginEl">
          <label for="pass" class="pkmtext">Password:</label>
          <input name="pass" type="password" class="pkmtext">
        </div>
        <div id="login_button" class="pkmtext">
          <span id="login_icon"></span>
          <p>Login !</p>
        </div>
      </div>
      <div id="social-buttons" style="-webkit-app-region: no-drag">
        <div id="discordBtn"></div>
        <div id="bobitoBtn">
          <div id="bobitoBtn-icon">
          </div>
          <div id="bobitoBtn-text" style="margin-top: 2px;">
            <p style="font-family: cursive;">Visit our</p>
            <p class="pkmtext" style="margin-top: -20px;">WEBSITE</p>
          </div>
        </div>
      </div>
    </div>
    <div id="close-icon" style="-webkit-app-region: no-drag"></div>
  </div>
  </body>

  <script type="text/javascript">
    const {remote, shell} = require('electron');
    const crypto = require('crypto');

    var width = 500;
    var height = 350;

    let hash = crypto.createHash('sha256');
    password = hash.update("test").digest('hex').toString();

    let loginBt = document.querySelector("#login_button");
    let loginIcon = document.querySelector("#login_button img");

    loginBt.addEventListener("mouseover", function(){
      loginBt.style.border = '1px solid #198be3';
      document.querySelector("#login_button p").style.color = "#198be3";
    });

    loginBt.addEventListener("mouseout", function(){
      loginBt.style = '';
      document.querySelector("#login_button p").style = "";
    });

    let discordBt = document.querySelector("#discordBtn");
    discordBt.addEventListener("click", function(){
      shell.openExternal('https://discord.gg/mCESYyK');
    });

    let closeIconDiv = document.querySelector("#close-icon");
    closeIconDiv.addEventListener("click", function(){
      remote.app.quit();
    });

    loginBt.addEventListener("click", function(){

      document.body.style.cursor = "progress";

      let username = document.querySelector("#login_username input").value;
      let password = document.querySelector("#login_pass input").value;

      if(username == "" || password == ""){
        alert("Preencha todos os campos");
      }else{
        let hash = crypto.createHash('sha256');
        password = hash.update(password).digest('hex').toString();

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            data = JSON.parse(xhttp.response);
            console.log(xhttp);

            if(data.fLogin == 1){
              remote.getCurrentWindow().loadURL(`file://${__dirname}/index.html`);
              remote.getCurrentWindow().setSize(width, height);
            }else{
              alert("Username or Password incorrect");
            }
            document.body.style.cursor = "default";
          }else if(this.status == 502){ //bad gateway
            console.log(xhttp);
          }
        }
        xhttp.open("POST", "https://bobito.herokuapp.com/gloin", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(`username=${username}&password=${password}`);
      }
    });

  </script>
</html>
